{% extends "_base.html" %}

{% block content %}
<h2 class="fw-bold">Услуги</h2>
<div class="row bg-white px-3 py-3 mx-2 my-5 rounded pb-5 shadow-lg">
    <div class="hstack gap-3 pb-4">
        <a href="/products/new" class="btn btn-success p-2">Создать</a>
    </div>
    <div class="col">
        <ul class="list-group">
            {% for product in products %}
            <li class="list-group-item list-group-item-light d-flex justify-content-between">
                <a href="/products/{{ product.pk }}/" class="text-decoration-none link-dark">{{ product.name }}</a>
                <a href="/products/{{ product.pk }}/delete/" class="btn btn-danger">Удалить</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}